<!DOCTYPE html>
<html>
  <head>
    <title>Umpire | <%= @fqdn %></title>
  </head>
  <body>
    <h1><a href='/'>Umpire</a> | <%= @fqdn%></h1>
    <p>This guy's got <%= @count %> strikes!</p>
    <h2>Throw <%= @fqdn %> another pitch?</h2>
    <form action='/incr' method='post'>
      <input type='hidden' name='fqdn' value='<%= @fqdn %>'>
      <input type="submit" value="Throw it!" />
    </form>
    <h2>Throw <%= @fqdn %> out of the game?</h2>
    <form action='/destroy' method='post'>
      <input type='hidden' name='fqdn' value='<%= @fqdn %>'>
      <input type="submit" value="He's outta here!" />
    </form>
  </body>
</html>