<!DOCTYPE html>
<html>
  <head>
    <title>Umpire</title>
  </head>
  <body>
    <h1>Umpire</h1>
    <h2>The Count for This Game</h2>
    <% if @all.empty? %>
    <p>The count is nothing.</p>
    <% else %>
    <table>
      <tbody>
        <tr>
          <td>FQDN</td>
          <td>Count</td>
        </tr>
        <% @all.each do |fqdn, count| %>
        <tr>
          <td><%= fqdn %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <h2>Throw a Pitch?</h2>
    <form action='/new' method='post'>
      FQDN: <input type="text" name="fqdn" />
      <input type="submit" value="Throw it!" />
    </form>
  </body>
</html>